.counter-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.counter-button-increment {
  background-color: #4CAF50; /* Green */
}

.counter-button-increment:hover {background-color: #3e8e41}

.counter-button-decrement {
  background-color: #f44336; /* Green */
}

.counter-button-decrement:hover {
  background-color: #e4453a; /* Green */
}


.counter-button-reset {
  background-color: #555555; /* Green */
}

.counter-button-reset:hover {
  background-color: #5f5c5c; /* Green */
}
